language: node_js
node_js:
- 7.7.3
env:
- CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - xvfb
install:
- export DISPLAY=':99.0'
- Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
- npm install
deploy:
  provider: heroku
  app: connect-fore
  api_key:
    secure: BvocjEp94Bdm+3q9IvkA6YKXZgKLzyzkzSlnvq9A1zhNTdJfmfUNdPUqOhxzVJdcC33CRp/hRPsoq3LaMlsaKYPC4L9mGyWCMBDTcky+G/rLmg2bU4ksveosS1IpL2G1RlVJEigL4FqYVokmYNP6fiCNzEn1wAD6PC0vuJD251c1Y9XUOmJRcdwdVDFiFqx78QKBF3sjTgw7n558kvB+nO7WJPDwVdFZYO/GD1pnMCE07U7mlLM6O/Pgh8P8fEJlqZHRIeV7N0D+DeDnjGE3cXB8IBjubDP+tO1dU5pJaNYAvjMT6FkMY2MGsazqia9p1vFyFLQRU6LlaxeEPBS5vQKv3WByLxmcpgRlBZ4ufaZTMne6iNZLV1tPcA1wymUSN/6otM9XAeNB5JIuIpcJQEKi1YMGC814wu42byFUVZKru5C+Uz6hUaNSE3YBMtDvy1xNZ8TifLoaGRTR1sLf+xzAQwF61ZskKOKgUj2/BhLKfqZCS/wRK6cKlFI2Ea5uk3VwCrS7warD0PmK/uKuLyE8qsT31H4orDXfEUiELwltPpa7KKK0WpWSHnliC2B4SWIwP39I9h+MoJTr3R5k50w7sLHClTeBLOF1nzGdRsXX1Rj7nWfaLvZZzU6BeolGipO6ZfkeJ64X4W94nslsesTl6rQ62wv8GTMKtJ45/o8=
